.consumer-community-wrapper {
    width: calc(100vw - 300px);
    background-color: #ffffff;
    margin-bottom: 20px;
}

.consumer-community-topbar {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    background-color: #014186;
    border-radius: 10px;
    padding: 8px 15px;
}

.consumer-community-topbar-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6c757d;
}

.consumer-community-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.consumer-community-left-content {
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.consumer-community-titlebar {
    display: flex;
    justify-content: space-between;
}

.consumer-community-title {
    font-size: 2em;
    font-weight: bold;
}

.consumer-community-newpost-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #014186;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #ffffff;
    /* margin-right: 20px; */
    border-radius: 5px;
    padding: 0px 5px;
    width: 120px;
}

.consumer-community-newpost-icon {
    font-size: 1.2em;
    cursor: pointer;
    color: #ffffff;
    /* margin-right: 20px; */
}

.consumer-community-posts {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    background-color: #DBE6EB;
}

.consumer-community-post {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.consumer-community-post-owner-info {
    display: flex;
    gap: 5px;
}

.consumer-community-post-owner-profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6c757d;
}

.consumer-community-post-owner-name {
    font-size: 1.2em;
}

.consumer-community-post-title {
    font-size: 1.25em;
    font-weight: bold;
}

.consumer-community-post-description {
    font-size: 1em;
    text-align: justify;
}

.consumer-community-right-content {
    width: 28%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #DBE6EB;
}

.consumer-comunity-foryou-post {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.consumer-community-newpost-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #014186;
    border-radius: 10px;
    padding: 8px 15px;
}

.consumer-community-newpost-icon {
    font-size: 1.8em;
    cursor: pointer;
    color: #ffffff;
    /* margin-right: 20px; */
}

.consumer-community-new-post-container {
    background-color: #DBE6EB;
    /* padding: 10px; */
    width: 96.5%;
    height: 80%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
}

.consumer-community-new-post-title {
    font-size: large;
    font-weight: bold;
    background-color: transparent;
    border: 2 px solid #014186;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
}

.consumer-community-new-post-description {
    padding: 4px;
    background-color: transparent;
    font-size: medium;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 200px;
}

.consumer-community-new-post-button {
    padding: 4px;
    background-color: #18B2E3;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    align-self: end;
    margin-right: 20px;
}